@import "index.scss";

.episode {
  display: flex;
  padding: 12px;
  margin: 12px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $primary-color;

  &__info {
    margin-right: 12px;
    flex: 0.6;
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
  }

  &__date {
    display: flex;
    flex-direction: column;
    max-width: 130px;
  }

  &__characters {
    max-width: 400px;
  }
}
