@import "index.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  &__logo > img {
    width: 160px;
  }

  &__menu {
    display: flex;
  }

  &__menu-item {
    padding: 0 12px;
    cursor: pointer;

    & > a {
      text-decoration: none;
      color: $text-color;
      font-size: 18px;
    }

    &--is-active,
    &:hover {
      & > a {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
        padding-bottom: 2px;
        font-weight: 500;
      }
    }
  }

  &__search-input {
    input {
      height: 40px;
      background-color: transparent;
      width: 300px;
      border: none;
      border-bottom: 1px solid $text-color;
      outline: none;
      color: $text-color;
      padding-right: 24px;
      font-size: 18px;
    }

    svg {
      margin-left: -18px;
    }
  }
}
